In [2]:
import pandas as pd
from pathlib import Path

In [3]:
# Read the CSV housing_data file from the Resources folder into a Pandas DataFrame
housing_data = Path("Resources/housing_data.csv")
df_housing = pd.read_csv(housing_data)

In [4]:
# Read the CSV income_data file from the Resources folder into a Pandas DataFrame
income_data = Path("Resources/income_data.csv")
df_income = pd.read_csv(income_data)

In [5]:
# Display initial data info
print("Initial Housing Data:")
print(df_housing.info())
print("\nInitial Income Data:")
print(df_income.info())

Initial Housing Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB
None

Initial Income Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27658 entries, 0 to 27657
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         27658 non-null  object
 1   zipcode       27658 non-null  int64
 2   total_pop     27658 non-null  int64
 3   total_income  27658 non-null  int64
 4   country       27658 non-null  object
 5   avg_income    27658 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 1.3+ MB
None

In [6]:
# Keep only the necessary columns
df_housing = df_housing[['zipcode', 'price', 'sqft_lot']]
df_income = df_income[['zipcode', 'state']]

In [7]:
# Merge the two datasets on 'zipcode'
merged_housing_income_data = pd.merge(df_housing, df_income, on='zipcode', how='inner')

merged_housing_income_data

       zipcode     price  sqft_lot state
0        98178  231300.0      5650    WA
1        98125  538000.0      7242    WA
2        98028  180000.0     10000    WA
3        98136  604000.0      5000    WA
4        98074  510000.0      8080    WA
...        ...       ...       ...   ...
21608    98103  360000.0      1131    WA
21609    98146  400000.0      5813    WA
21610    98144  402101.0      1350    WA
21611    98027  400000.0      2388    WA
21612    98144  325000.0      1076    WA

[21613 rows x 4 columns]

In [8]:
# Remove duplicates (if any)
merged_housing_income_data.drop_duplicates(inplace=True)

# Handle missing values (if any)
merged_housing_income_data.dropna(inplace=True)  # Drop rows with missing values
# merged_data.fillna(0, inplace=True)  # Option to fill missing values with 0

# Reset index for clean output
merged_housing_income_data.reset_index(drop=True, inplace=True)

In [9]:
# Display cleaned data info
print("\nCleaned Merged Data:")
print(merged_housing_income_data.info())
print(merged_housing_income_data.head())

Cleaned Merged Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21529 entries, 0 to 21528
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   zipcode   21529 non-null  int64
 1   price     21529 non-null  float64
 2   sqft_lot  21529 non-null  int64
 3   state     21529 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 672.9+ KB
None
   zipcode     price  sqft_lot state
0    98178  231300.0      5650    WA
1    98125  538000.0      7242    WA
2    98028  180000.0     10000    WA
3    98136  604000.0      5000    WA
4    98074  510000.0      8080    WA

In [10]:
# Save the cleaned data to a new CSV file in the Resources folder
output_file = Path("merged_housing_income_data.csv")
merged_housing_income_data.to_csv(output_file, index=False)